<footer class="container mx-auto px-3 pb-3 text-center">
  <hr class="my-2">
  <p>Copyright &copy;<span class="year"></span>
    <a href="https://github.com/llcawc">llcawc</a> by pasmurno, all rights reserved. Made with <span style="color: rgb(230 15 10);">❤</span> for the best architecture.</p>
</footer>
