<footer class="container mx-auto px-3 pb-3 text-center">
  <hr class="my-2">
  <p>Copyright&nbsp;&copy;<span class="year"></span>&nbsp;<a href="https://github.com/llcawc">pasmurno</a> by llcawc, MIT License. Made&nbsp;with&nbsp;<span style="color: #e60f0a;">&#10084;</span>&nbsp;for the best architecture.</p>
</footer>
