extends ../layouts/default

block variables
  - var title = "Home"
  - var header = 'Starter template Desk'

block main
  main(class="container mx-auto px-4 py-10")
    section
      h1 Desk - starter template for the front-end on base PUG template and TailwindCSS frameworks
      p: em#rev
      hr(class="mt-4 mb-8 border-zinc-700")
      p Starter uses NPM scripts in #[code package.json], and #[a(href="https://github.com/pugjs/pug") PUG] template for multi-page interface development. CSS is compiled using the #[a(href="https://github.com/tailwindlabs/tailwindcss") TailwindCSS] framework on base the #[a(href="https://github.com/postcss/postcss") PostCSS] engine, using the nesting and import syntax, the Autoprefixer plugin and the CSSO plugin to minimize CSS. #[a(href="https://github.com/rollup/rollup") Rollup] with plugins and #[a(href="https://github.com/terser/terser") Terser] is used to compile and minimize JS. #[a(href="https://github.com/imagemin/imagemin") Imagemin] plugin transform images with cleaning and minify.
    section
      hr(class="mt-4 mb-8 border-zinc-700")
      h2 Getting started
      p Install the #[a(href="https://nodejs.org") node] and the #[a(href="https://www.npmjs.com/") npm] package manager, clone this repository in project folder and type this command into the wsl or mac terminal:
      pre: code npm install
      h3 Default directory:
      ul(class="pl-6")
        li • For development source files: #[code src]
        li • For server and production: #[code dist] (will be created after run "dev" or "build")
      h2 Commands
      h3 1. Develop in browser
      p Run browser, watching files and live server reload.<br><em>You can open this in any browser: <code>http://localhost:3000</code></em>
      pre: code npm run dev
      h3 2. Building files for production.
      pre: code npm run build
      h3 3. Run server (if dir "dist" exist :) in browser.
      pre: code npm run serve
      h3 Settings
      p Use <code>package.json</code> and config files for change settings.
    section
      hr(class="my-4 border-zinc-700")
      h2 Documentation
      ul(class="flex flex-wrap gap-x-4 text-white")
        li: a(class="under", target="_blank", href="https://github.com/pugjs/pug") PUG
        li: a(class="under", target="_blank", href="https://tailwindcss.com/") TailwindCSS
        li: a(class="under", target="_blank", href="https://github.com/postcss/postcss") PostCSS
        li: a(class="under", target="_blank", href="https://github.com/postcss/postcss-cli") PostCSS CLI
        li: a(class="under", target="_blank", href="https://github.com/lahmatiy/postcss-csso") CSSO
        li: a(class="under", target="_blank", href="https://github.com/rollup/rollup") Rollup
        li: a(class="under", target="_blank", href="https://github.com/terser/terser") Terser
        li: a(class="under", target="_blank", href="https://browsersync.io/") Browsersync
        li: a(class="under", target="_blank", href="https://github.com/imagemin/imagemin") Imagemin
