block variables
  - var title = 'title'
  - var header = 'header'

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Desk • #{ title }
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/assets/images/favicon.svg", type="image/svg+xml")
    meta(property="og:image", content="/assets/images/ice.jpg")
    link(rel="preload", as="style", href="/assets/css/fonts.min.css")
    link(rel="stylesheet", href="/assets/css/fonts.min.css", media="print", onload="this.media='all'")
    link(rel="stylesheet", href="/assets/css/main.min.css")
  body
    div(class="grid grid-cols-1 grid-rows-[12rem,auto,5rem] w-full h-full")
      include ../includes/header
      block main
        p default main content
      include ../includes/footer
    script(src="/assets/js/main.min.js")
